<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wardriving Tool</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="Utils/static/bootstrap-5.3.1-dist/css/bootstrap.min.css">
</head>
<body class="">
    <div class="modal" id="interfaceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="interfaceForm">
                    <div class="modal-header">
                        <h3 class="modal-title">Select Interface</h3>
                    </div>
                    <div class="modal-body">
                        <p>Please select the interface you want to use:</p>
                        <select class="form-select" id="interfaceSelect" aria-label="Default select example">
                            {% for interface_name, interface_data in deviceInfo.interfaces.items() %}
                                <option value="{{ interface_data.idx }}">{{ interface_data.interfaceName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>






    <div>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-dark navbar-text bg-dark" style="padding: 0%;">
            <div class="container-fluid">
                <img src="Utils/static/Kuro2ToneRedNOBG.png" style="height: 95px; width: 95px">
                <a class="navbar-brand" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Wardriving Tool</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/attack" style="font-weight: 1000;">Attack</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/analytics">Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/attackspecific">Targeted Attack</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex justify-content-end mt-2" style="margin-right: 30px;">
                    <button id="darkModeToggle" class="btn btn-secondary">Dark Mode</button>
                </div>
                <h5 class="my-auto" id="selectedInterface" value="{{ deviceInfo['interfaceInfo']['idx'] }}" >{{ deviceInfo["interfaceInfo"]["name"] }}</h5>
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-6" class="main">
            <!-- Attack setup panel -->
            <div class="lg-4 p-4 " id="attackSetupDiv">
                <div class="header">
                    <h4>Attack Setup</h4>
                </div>
                <div class="">
                    <form id="attackSetupForm">
                    <div class="mb-4">
                        <label for="interfaceSelect" class="form-label">Select Interface</label>
                        {% for interface_name, interface_data in deviceInfo.interfaces.items() %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="selectedInterface" id="interface_{{ interface_data.idx }}" value="{{ interface_data.idx }}">
                                <label class="form-check-label" for="interface_{{ interface_data.idx }}">{{ interface_data.interfaceName }}</label>
                            </div>
                        {% endfor %}
                    </div>
                        <div class="mb-4">
                            <label class="form-check-label">Attack Action:</label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="attackAction" id="captureHandshakes" value="captureHandshakes">
                                <label class="form-check-label" for="captureHandshakes">Capture Handshakes</label>
                            </div>
                        
                        </div>
                        <button type="submit" class="btn btn-primary" id="startAttackBtn">Start War Driving</button>
                        <div id="alertContainer"></div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Filter options panel -->
        <div class="col-sm-6 ">
            <div class="p-4" id="filterOptionsDiv">
                <div class="header">
                    <h4>Filter Options</h4>
                </div>
                <div class="body col-lg-12 p-4">
                    <div class="row">
                        <!-- SCAN OPTIONS -->
                        <div class="col-lg-7">
                            <h5>SCAN OPTIONS</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterWEP">
                                <label class="form-check-label" for="filterWEP">Only show WEP</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterWPA">
                                <label class="form-check-label" for="filterWPA">Only show WPA</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterWPA2">
                                <label class="form-check-label" for="filterWPA2">Only show WPA2</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="filterUnknown">
                                <label class="form-check-label" for="filterUnknown">Don't Show Unknown</label>
                            </div>
                            <div class="form-group p-2">
                                <label for="signalStrengthFilter">Filter by Signal Strength -100/0</label>
                                <input type="range" class="form-range" id="signalStrengthFilter" min="-100" max="0" value="-100">
                            </div>
                        </div>
                        
                        <!-- ALERT OPTIONS -->
                        <div class="col-lg-5">
                            <h5>ALERT OPTIONS</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="alertWEP">
                                <label class="form-check-label" for="alertWEP">Alert on WEP Find</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="alertWPA">
                                <label class="form-check-label" for="alertWPA">Alert on WPA Find</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="alertWPA2">
                                <label class="form-check-label" for="alertWPA2">Alert on WPA2 Find</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- Add Bootstrap JS and Popper.js -->
    <script src="Utils/static/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <!-- Add Chart.js -->
    <script  src="Utils/static/charts.js"></script>

    <script src="Utils/static/attack.js"></script>   

</body>
</html>
